# shell=bash
# shell=dash
# shell=ksh
# shell=sh

# source=/dev/null

source-path=./src
source-path=./tests
source-path=/usr/local/bin

enable=add-default-case           # Suggest adding a default case in `case` statements
enable=avoid-nullary-conditions   # Suggest explicitly using -n in `[ $var ]`
enable=check-extra-masked-returns # Check for additional cases where exit codes are masked
enable=check-set-e-suppressed     # Notify when set -e is suppressed during function invocation
enable=check-unassigned-uppercase # Warn when uppercase variables are unassigned
enable=deprecate-which            # Suggest 'command -v' instead of 'which'
enable=quote-safe-variables       # Suggest quoting variables without metacharacters
enable=require-double-brackets    # Require [[ and warn about [ in Bash/Ksh
enable=require-variable-braces    # Suggest putting braces around all variable references

external-sources=true
